= turbo_frame_tag "collections_sorted_list_view-page-1" do
  - if @collections.empty?
    %div
      = no_collections_alert
  - else
    - root, selected_collection = collections_tree(@collections, params[:collectionid])
    %div
      = tree_component(root, selected_collection, target_frame: 'collection', auto_click: false, submission: @submission) do |child|
        - href = collection_path(collection_id: child.id, ontology_id: @ontology.acronym, language: request_lang)
        - data = { collectionid: child.id }
        - ["#", data, href]
