.container.card-container
  %section
    .row
      .col-sm-12
        %h1.mt-5 Cite Us

    .row
      .col-sm-12.abstract
        %p{:style => "text-align: justify;"}
          %strong LifeWatch ERIC 2020.
          EcoPortal, the repository of semantic resources for the ecology and related domains.
          %a{href: 'https://ecoportal.lifewatch.eu', target: '_blank'}
            %strong https://ecoportal.lifewatch.eu
        %h2 Publications
        %ul.pl-4
          %li
            Kechagioglou, X., Vaira, L., Tomassino, P., Fiore, N., Basset, A., & Rosati, I. (2021).
            EcoPortal: An Environment for FAIR Semantic Resources in the Ecological Domain.
            Proceedings of the Joint Ontology Workshops 2021 (JOWO 2021), 3rd International
            Workshop on Semantics for Biodiversity (S4BioDiv), Bolzano, Italy, September 11-18,
            2021.
            = link_to(nil, 'https://ceur-ws.org/Vol-2969/paper6-s4biodiv.pdf', target: '_blank')
            %li
              Vaira, L., Rosati, I., Nestola E., Di Muri, C., Muresan, A. N., Raho, D., Fiaz, M., Ramezani, P., & Pulieri, M. (2025). EcoPortal Documentation (Version 2.0). LifeWatch ERIC.
              = link_to(nil, 'https://doi.org/10.48373/59AV-7504', target: '_blank')
            %li
              i Muri, C., Pulieri, M., Raho, D. et al. “Assessing semantic interoperability in environmental sciences: variety of approaches and semantic artefacts”. Sci Data 11, 1055 (2024).
              = link_to(nil, 'https://doi.org/10.1038/s41597-024-03669-3', target: '_blank')
            %li
              Tarallo, A., Pulieri, M., Ramezani, P., & Rosati, I. (2024). Advancements in EcoPortal: Enhancing functionalities for the ecological domain semantic artefacts repository. FAIR Connect, 2(1), 1-7.
              = link_to(nil, 'https://doi.org/10.3233/FC-240002', target: '_blank')
